*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', 'Arimo', 'Raleway', sans-serif;
    margin: 0;
    letter-spacing: 0.08rem;
}

h1 {
	font-size: 3rem;
    margin: 0;
    letter-spacing: 0.3rem;
}

h2 {
	font-size: 1.5rem;
	letter-spacing: 0.4rem;
}

h3 {
    letter-spacing: 0.4rem;
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

.header-wrap-content {
    max-width: 1200px;
    min-width: 960px;;
    margin: 0 auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.line-logo {
    position: absolute;
    height: 2px;
    width: 1015px;
    background: #069C51;
    top: 95px;
    left: 185px;
}

.header-logo svg {
    margin: 10px 0;
}

.header-contact,
.header-email {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact-telephone {
    display: flex;
    align-items: center;
}


.header-email .fa,
.contact-telephone .fa {
    color: #069C51;
    margin-right: 5px;
}

.contact-telephone span,
.header-email {
    font-weight: 700;
    font-size: 20px;
    color: #3b3939;
}

.contact-telephone svg,
.header-email svg {
    margin-right: 10px;
}

.feedback-btn {
    background: #069C51;
    font-weight: normal;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    padding: 10px 40px;
}

.feedback-btn:hover {
    background: rgb(8, 179, 93);
}

.feedback-btn:active,
.feedback-btn:focus {
    background: rgb(8, 179, 93);
}

.header-menu-font {
    background: #f7f7f7;
}

.header-menu ul {
    width: 1200px;
    margin: 0 auto; 
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 20px 0;
    background: #f7f7f7;
}

.header-menu ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #3b3939;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.header-menu ul li a:hover {
    color: #069C51;
    transition: 0.5s;
}

.header-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0;
	background: linear-gradient(105deg, rgb(92, 143, 90) 60%,rgb(253, 253, 253) 89%);
}

.header-text-content {
    display: flex;
    
    align-items: center;
    height: 500px;
    
    background: url('../img/3.jpg') no-repeat center;
    background-size: cover;
    position: relative;
}

.header-text {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: rgb(230, 230, 230);
    z-index: 9;
}

.header-text h2 {
    display: inline-block;
}

.header-text p {
    margin-top: 30px;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.6rem;
}

.arrow-down {
    width: 50px;
    height: 50px;
    background-color: #6c6f72;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
    margin-bottom: 10px;
}

.arrow-down:hover {
	box-shadow: none;
	transition: 0.6s;
}

.main-arrow {
    display: flex;
    justify-content: center;
}

.main-arrow .fa {
    color: #069C51;
}

.main-arrow .fa:hover {
    color: #069C51;
    transform: scale(1.2);
    transition: 0.3s;
}

/*------------------- о нас -------------------*/

.main-content-about-us {
    background-color: #fff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}

.main-content-font {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    
    max-width: 1200px;
    min-width: 768px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-content-font:not(:last-child) {
    background: #fff;
}

.content-header {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-header h2 {
    color: #3b3939;
    font-size: 2.5rem;
    margin: 0;
    text-align: left;
    width: 100%;
}

.content-header h2::after {
    display: block;
    content: '';
    width: 75px;
    height: 4px;
    margin: 30px 0 40px;
    background-color: #069C51;
}

.content-header h3 {
    color: #3b3939;
    font-size: 2rem;
   
    width: 100%;
}

.content-company-info,
.content-tolerance-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.1rem;
    
}

.content-company-offer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.1rem;
    margin-bottom: 30px;
}

.content-company-offer h3 {
    color: #3b3939;
}

.content-company-offer p {
    font-size: 0.9rem;
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    max-width: 571px;
    border: 0px solid black;
    background: rgba(231, 240, 232, 0.911);
    padding: 10px 10px;
    margin: 5px 5px;
}

.offer .icon {
    fill: #069C51;
    max-width: 60px;
    max-height: 60px;
}

/*
@media screen and (max-width: 768px)  {

    .main-content-font {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        width: 768px;
        margin: 0 auto;
        padding: 0 20px;
    }
}*/

/*------------------- услуги -------------------*/

.main-content-services {
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}

.services-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 30px;
}

.services-img img {
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
}

.first-services, 
.second-services,
.third-services {
    width: 387px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: second baseline;
}

.services-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: second baseline;
}

.services-info p,
.services-info ul {
    list-style: none;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 0.1rem;
}

.services-info ul li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
	width: 2px;
	height: 2px;
	border: 3px solid #069C51;
	transform: rotate(45deg);
	margin-right: 10px;
}

/*------------------- проекты -------------------*/

.main-content-projects {
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}

.project-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.project {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 389px;
    height: 240px;
    margin: 2px;
}

.project ul {
    list-style: initial;
}

.overlay {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(100%, 100%, 100%, 0.7);
}

.overlay h3 {
    color: #069C51;
    font-size: 22px;;
    text-align: center;
}

.overlay ul {
    font-weight: 700;
    font-size: 12px;   
}

.overlay:hover {
    background: rgb(100%, 100%, 100%, 0.6);
    transition: 0.49s;
    z-index: 100;
}

.project:nth-child(1):hover {
    transform: scale(1.5) translateX(66px) translateY(40px);
    transition: 0.9s;
    z-index: 100;
}

.project:nth-child(2):hover {
    transform: scale(1.5) translateY(40px);
    transition: 0.9s;
    z-index: 100;
}

.project:nth-child(3):hover {
    transform: scale(1.5) translateX(-66px) translateY(40px);
    transition: 0.9s;
    z-index: 100;
}

.project:nth-child(4):hover {
    transform: scale(1.5) translateX(66px);
    transition: 0.9s;
    z-index: 100;
}

.project:nth-child(5):hover {
    transform: scale(1.5);
    transition: 0.9s;
    z-index: 100;
}

.project:nth-child(6):hover {
    transform: scale(1.5) translateX(-66px);
    transition: 0.9s;
    z-index: 100;
}

.project:nth-child(7):hover {
    transform: scale(1.5) translateX(66px) translateY(-40px);
    transition: 0.9s;
    z-index: 100;
}

.project:nth-child(8):hover {
    transform: scale(1.5) translateY(-40px);
    transition: 0.9s;
    z-index: 100;
}

.project:nth-child(9):hover {
    transform: scale(1.5) translateX(-66px) translateY(-40px);
    transition: 0.9s;
    z-index: 100;
}

.first {
    background-image: url('../img/gos.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.first:hover {
    background-image: url('../img/gos.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

.second {
    background-image: url('../img/kom.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.second:hover {
    background-image: url('../img/kom.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

.third {
    background-image: url('../img/sklad.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.third:hover {
    background-image: url('../img/sklad.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

.fourth {
    background-image: url('../img/sud.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.fourth:hover {
    background-image: url('../img/sud.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

.fifth {
    background-image: url('../img/tc.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.fifth:hover {
    background-image: url('../img/tc.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

.sixth {
    background-image: url('../img/vyz.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.sixth:hover {
    background-image: url('../img/vyz.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

.seventh {
    background-image: url('../img/fun.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.seventh:hover {
    background-image: url('../img/fun.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

.eighth {
    background-image: url('../img/med.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.eighth:hover {
    background-image: url('../img/med.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

.ninth {
    background-image: url('../img/tpu.jpg');
    background-size: cover;
    filter: grayscale(100%); 
}

.ninth:hover {
    background-image: url('../img/tpu.jpg');
    background-size: cover;
    filter: grayscale(0%); 
}

/*------------------- лицензии -------------------*/

.main-content-licenses {
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}

.licenses-wrap {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 55px;
}

.first-license,
.second-license,
.third-license {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5);
}

.first-license,
.second-license,
.third-license {
    margin: 3px;
}

.first-license img,
.second-license img,
.third-license img {
    width: 381px;
    height: 600px;
    
}

.first-license img:hover {
    transform: scale(1.4) translateX(52px);
    transition: 2s;
}

.second-license img:hover {
    transform: scale(1.4);
    transition: 2s;
}

.third-license img:hover {
    transform: scale(1.4) translateX(-52px);
    transition: 2s;
}



/*------------------- допуски -------------------*/

.main-content-tolerance {
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}

.panel:not(:last-child) {
    margin-bottom: 5px;
}
.panel:first-child {
    margin-top: 20px;
}

.panel:last-child {
    margin-bottom: 20px;
}

.panel-heading,
.panel-heading a {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.panel-heading a {
    width: 1180px;
    position: relative;
    background: #f7f7f7;
    color: #3b3939;
    
    text-decoration: none;
    padding: 10px 40px 10px 15px;
}

.panel-heading a:hover {
    background-color: rgba(231, 240, 232, 0.911);
    transition: 0.4s;
}

.panel-heading a:focus {
    background-color: #069C51;
    transition: 0.7s;
    color: #fff;
}

.panel-heading a::after {
    content:"\f078";
    font-family: "FontAwesome";
    position: absolute;
    right: 15px;
    transition: 0.3s; 
}

.panel-heading.in a::after {
    transform: rotate(180deg);
}

.panel-heading a i {
    font-size: 20px;
    width: 30px;
}

.panel-collapse {
    display: none;
}

.panel-body ul {
    position: relative;
}

.panel-body ul li,
.panel-heading a {
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.1rem;
}

.panel-body ul li::before {
    content: '\f105';
    font-family: "FontAwesome";
    position: absolute;
    left: 25px;
    color: #069C51;
    
}

/*------------------- заказчики -------------------*/

.main-content-customers {
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}

.customers-wrap {
	background-color: white;
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
    padding: 0 60px;
}

.customers-logo img {
    max-width: 100%; 
    max-height: 100%;
    position: absolute;
    z-index: 1;
    margin: auto;
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0;
}

.customers-logo {
    position: relative;
    width: 295px;
    height: 150px;
    border: 0px solid black;
    margin-bottom: 15px;
    margin-top: 15px;

    
}

/*------------------- контакты -------------------*/

.main-content-contancts {
   
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;
}

.contacts-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 295px;
}

.contacts-info .fa {
    margin-bottom: 10px;
    color: #069C51;
    
}

.map {
    margin-bottom: 10px;
}

.tel {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.tel p {
    margin-bottom: 10px;
    text-align: center;
}

.contacts-line {
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    margin: 20px 0;
    background-color: rgba(231, 240, 232, 0.911);
}

.contacts-form {
    text-align: center;
    font-weight: 300;
    border-top: 4px solid #069C51;
    border-bottom: 2px solid #069C51;
    background-color: #f7f7f7;
    padding: 50px 10px;
    width: 100%;
}

.contacts-form h4 {
    margin-top: 0;
    letter-spacing: 0.08rem;
}

.contacts-form-feedback {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.contacts-form-feedback h4 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.input {
    width: 100%;
    
    padding: 11px 10px 10px 25px;
}

.input-name,
.input-email,
.input-phone,
.btn-style {
    width: 100%;
    padding: 15px 25px 15px 25px;
    border: 1px solid #e8e8e8;
    font-size: 14px;
}

.btn-style {
    margin-top: 15px;
    padding: 0;
    height: 70px;
    font-weight: 500;
    font-size: 22px;
    background-color: #069C51;
    color: #fff;
    margin: 0 auto;
}

.btn-style:hover {
    background: rgb(8, 179, 93);
}

.btn-style:active,
.btn-style:focus {
    background: rgb(8, 179, 93);
}


/*------------------- footer -------------------*/

.footer-content {
    background-color: #757779;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin: 0 auto;  
}

.footer-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    
}

.footer-first-floor,
.footer-second-floor {
    width: 1180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-logo svg {
    margin: 10px 0;
}

.footer-menu {
    display: flex;
    flex-direction: row;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
}

.footer-menu ul li{
    margin: 5px;

}

.footer-menu ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #fff;
}

.footer-menu ul li a:hover {
    opacity: 0.8;
}

.footer-logo .contact-telephone span {
    color: #fff;
}

/*
.footer-first-floor::after {
    display: block;
    content: '';
    width: 1200px;
    height: 0px;
    margin: 5px 0;
    background-color: rgb(148, 148, 148);
}*/

.footer-second-floor {
    padding-top: 30px;
    border-top: 1px solid #9d9d9e;
}

.footer-second-floor div p {
    font-size: 14px;
}

.footer-cop,
.footer-created {
    color: #fff;
    display: flex;
    margin-bottom: 10px;
}

.footer-created a {
    text-decoration: none;
    color: #fff;
    border-bottom: 1px dotted #fff;
}

.footer-logo .contact-telephone .fa {
    color: #fff;
    margin-right: 5px;
}

/*------------------- media -------------------*/

@media screen and (max-width: 768px) {

    .main-content-font {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        max-width: 1200px;
        min-width: 768px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .header-wrap-content {
    min-width: 768px;
    margin: 0 auto; 
  
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    }

    .line-logo {
        display: none;
    }

    .header-logo,
    .header-contact,
    .header-email,
    .header-feedback {
        width: 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .header-logo svg {
        width: 100%;
    }

    .header-feedback {
        text-align: center;
    }

    .header-menu-font {
        display: flex;
        justify-content: center;
        
    }
    
    .header-menu ul {
        width: 768px;
        flex-direction: row;
        justify-content: space-around;
        padding: 20px 0;
    }
    
    .header-menu ul li:not(:last-child) {
        padding-bottom: 5px;
    }

    .header-text {
        padding: 0 20px;
        text-align: center;
    }

    

    .project {
        min-width: 360px;
    }
    
}