.featured {
  position: relative;
  padding-left: 29px;
  padding-right: 30px;
  padding-bottom: 42px;
  margin-top: -10px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 7px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    background-position: 8px 0;
    background-size: 320px 7px;

    @media (min-width: @tablet-width) {
      width: 768px;
      height: 17px;
      background-position: 19px 0;
      background-size: 768px 17px;
    }

    @media (min-width: @desktop-width) {
      width: 1050px;
      height: 23px;
      background-position: 24px 0;
      background-size: 1050px  23px;
      transform: translateX(5%);
    }

    @media (min-width: 1250px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.featured__title {
  font-size: 24px;
  line-height: 30px;
  padding-top: 29px;
  letter-spacing: 0.2mm;
}

.featured__subtitle {
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @green;
  margin-top: 4px;
}

.featured__item-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 23px;
  padding-bottom: 18px;
}

.featured__card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured__button {
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .featured {
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-top: -10px;
    width: 768px;
  }

  .featured__wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
  }

  .featured__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 46px;
    letter-spacing: 0;
  }

  .featured__subtitle {
    position: absolute;
    top: 54px;
    left: 602px;
    font-size: 17px;
    line-height: 17px;
    width: 105px;
    text-align: center;
  }

  .featured__item-text {
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    padding-top: 49px;
    padding-bottom: 36px;
    width: 281px;
    box-sizing: border-box;
  }

  .featured__card-product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -3px;
  }

  .featured__product-card-wrapper {
    display: inline-block;
    width: 50%;
  }

  .featured__button {
    width: 290px;
  }
}

@media (min-width: @desktop-width) {
  .featured {
    position: relative;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 79px;
    margin-top: -10px;
    width: 1250px;
  }

  .featured__wrapper {
    background-image: url("../img/triple-set-desktop@1x.jpg"), url("../img/triple-set-desktop@1x.webp");
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: 80px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/triple-set-desktop@2x.jpg"), url("../img/triple-set-desktop@2x.webp");
      background-size: 525px;
    }
  }

  .featured__title {
    font-size: 50px;
    line-height: 57px;
    float: right;
    padding-top: 127px;
    margin-left: 171px;
    letter-spacing: 0.4mm;
  }

  .featured__subtitle {
    top: 137px;
    left: 129px;
    font-size: 17px;
    line-height: 17px;
    width: 105px;
    text-align: center;
  }

  .featured__item-text {
    padding-left: 175px;
    width: 470px;
  }

  .featured__product-card-wrapper {
    padding-left: 175px;
    margin-top: 12px;
  }
}
